<ul>
  <h3>Events Created:</h3>
  <% @user.created_events.each do |event| %>
      <li><%= "#{event.name.capitalize} #{event.date}" %></li>
  <% end %>
</ul>

<ul>
  <h3>Events Attended:</h3>
  <% @user.attended_events.each do |event| %>
      <li><%= link_to event.name, event %></li>
  <% end %>
</ul>
