<h1>Events</h1>

<h2>Past</h2>
<ul>
  <% @events.in_the_past.each do |past_event| %>
    <li>
      <p><%= link_to past_event.name, past_event %></p>
    </li>
  <% end %>
</ul>

<h2>Future</h2>
<ul>
  <% @events.in_the_future.each do |future_event| %>
  <li>
    <p><%= link_to future_event.name, future_event %>
  </li>
  <% end %>
</ul>

<%= button_to "New Event", new_event_path, :method => :get %>
